<h1>My todos</h1>

<div class="container">
  <table class="table">
  <thead>
    <tr>
      <th>Description</th>
        <th>Target Date</th>
        <th>Done</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todo of todos">
      <td>{{todo.description}}</td>
      <td>{{todo.targetDate | date}}</td>
      <td>{{todo.status}}</td>
      
      <td><button (click)="updateTodo(todo.id)" class="btn btn-success">Update</button></td>
      <td><button (click)="deleteTodo(todo.id)" class="btn btn-warning">Delete</button></td>
    </tr>
    

  </tbody>
  </table>
<div class="row">
  <button (click)="addTodo()" class="btn btn-success">ADD</button>
</div>

</div>

<div class="alert alert-success" *ngIf="result">
  <h2 >{{result}}</h2>
</div>